.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%; /* 원형으로 만들기 */
  color: white; /* 텍스트 색상 설정 */
  margin: 30px 5px;
}

.circle1 {
  background-color: blue; /* 원하는 배경색 설정 */
}
.circle2 {
  background-color: red; /* 원하는 배경색 설정 */
}
.circle3 {
  background-color: yellow; /* 원하는 배경색 설정 */
}
.circle4 {
  background-color: pink; /* 원하는 배경색 설정 */
}
